<div class="row">
    <div class="col-lg-9" style="margin: auto;">
        <div class="box shadow-sm rounded bg-white mb-3">
            <div class="box-title border-bottom p-3">
                <h6 class="m-0">Notifications <i class="fa fa-bell text-muted"></i></h6>
            </div>
            <div class="box-body p-0">
                <% for (let i=0; i < noti.length; i++) { %>
                    <% if(noti[i].reg_target==req.session.userId) { %>
                        <div class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header">
                            <div class="font-weight-bold mr-3">
                                <div class="text-truncate">
                                    <%= noti[i].reg_user_name %> send you a request.
                                </div>
                                <div class="small"></div>
                            </div>
                            <span class="ml-auto mb-auto">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="/application/applDetails?id=<%= noti[i].id %>"
                                            class="dropdown-item btn"><i class="mdi mdi-eye"></i> Details </button>
                                            <a href="/ads/adDetails/<%= noti[i].reg_ads %>" class="btn dropdown-item"><i
                                                    class="mdi mdi-read"></i> Go to Ads Page</a>
                                            <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i>
                                                Mark as Read</button>
                                    </div>
                                </div>
                                <br />
                                <div class="text-right text-muted pt-1">
                                    <%= noti[i].createdAt %>
                                </div>
                            </span>
                        </div>
                        <% }; %>
                            <% if(noti[i].reg_user==req.session.userId) { %>
                                <div class="p-3 d-flex align-items-center bg-light border-bottom osahan-post-header">
                                    <div class="font-weight-bold mr-3">
                                        <% if(noti[i].applStatus=="waiting for reply" ) { %>
                                            <div class="text-truncate">Your application had been sent to <%=
                                                    noti[i].reg_target_name %> and wait for reply. </div>
                                            <% } else { %>
                                                <div class="text-truncate">Your application sent to <%=
                                                        noti[i].reg_target_name %> had an update. </div>
                                                <% }; %>
                                                    <div class="small"></div>
                                    </div>
                                    <span class="ml-auto mb-auto">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm rounded"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="/application/applDetails?id=<%= noti[i].id %>"
                                                    class="dropdown-item btn"><i class="mdi mdi-eye"></i> Details
                                                    </button>
                                                    <a href="/ads/adDetails/<%= noti[i].reg_ads %>"
                                                        class="btn dropdown-item"><i class="mdi mdi-read"></i> Go to Ads
                                                        Page</a>
                                                    <button class="dropdown-item" type="button"><i
                                                            class="mdi mdi-close"></i> Mark as Read</button>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="text-right text-muted pt-1">
                                            <%= noti[i].createdAt %>
                                        </div>
                                    </span>
                                </div>
                                <% }; %>
                                    <% }; %>
            </div>
        </div>
    </div>

    <script>
    </script>