<section class="section" style="padding: 1em 1em">
    <div class="middle-container">
        <div class="row">
            <% for (let i = 0; i < ads.length; i++) { %>
                <div class="card col-md-3">
                    <img class="card-img-top" src="<%= imgs[i].url %>" alt="Card image cap"  
                    style="display: none; width: 100%; height: 15vw; object-fit: cover;" onload="this.style.display='';document.getElementById('loading').style.display='none'" onerror="tryAgain(this)"/>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="/ads/adDetails/<%= ads[i].id %>">
                                <%= ads[i].title %></a>
                        </div>
                        <p class="card-text"><%= ads[i].jobType %></p>
                        <time class="card-text"><%= ads[i].createdAt %></time>
                    </div>
                    </div>
            <% }; %>
        </div>  
    </div>
</section>

<script>
    function tryAgain(e) 
    {
    setTimeout(reloadImg, 1000, e);
    }

    function reloadImg(e)
    {
    var source = e.src;
    e.src = source;
    }
</script>