<div class="container" style="width: 60%; padding-top: 4em;">
    <div class="card">
        <div class="card-header text-white bg-dark">
            <h4 class="card-title">Advertisement Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <a href="/" class="btn btn-danger" style="margin-left: auto;" role="button">Close X</a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- pic -->
                    <img class="col" src="<%= img.url %>" 
                    style="display: none; display: none; width: 100%; height: 15vw; object-fit: cover;" onload="this.style.display='';document.getElementById('loading').style.display='none'" onerror="tryAgain(this)"/>
                    <br>
                    <br>
                    <p id="loading" class="text-center">Loading Image...</p>
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <!-- <h5 class="card-title">Time Available</h5> -->
                            <h6 class="card-subtitle mb-2 text-muted">Personal Details</h6>
                            <div class="card-text">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">User Name:</li>
                                    <li class="list-group-item">Email:</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                            <th scope="row">Ad Title:</th>
                            <td><%= ad.title %></td>
                            </tr>
                            <tr>
                            <th scope="row">Job Type:</th>
                            <td><%= ad.jobType %></td>
                            </tr>
                            <tr>
                                <th scope="row">Description:</th>
                                <td><%= ad.description %></td>
                            </tr>
                            <tr>
                                <th scope="row">Location:</th>
                                <td><%= ad.location %></td>
                            </tr>
                            <tr>
                                <th scope="row">Contact:</th>
                                <td><%= ad.contact %></td>
                            </tr>
                            <tr>
                                <th scope="row">Salary:</th>
                                <td><%= ad.salary %> per Hour / Month</td>
                            </tr>
                            <tr>
                                <th scope="row">Remarks:</th>
                                <td><%= ad.remarks %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <!-- only show when ad is Availability -->
            <h5 class="card-title">- Time Available -</h5> 
            <!-- only show when ad is Job -->
            <h5 class="card-title" style="display: none;">- Time Requested -</h5> 
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                    <th>SAT</th>
                    <th>SUN</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Morning</td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[morning][]" value="MON"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[morning][]" value="TUE"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[morning][]" value="WED"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[morning][]" value="THU"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[morning][]" value="FRI"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[morning][]" value="SAT"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[morning][]" value="SUN"></td>
        
                </tr>
                <tr>
                    <td>Afternoon</td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[afternoon][]" value="MON"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[afternoon][]" value="TUE"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[afternoon][]" value="WED"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[afternoon][]" value="THU"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[afternoon][]" value="FRI"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[afternoon][]" value="SAT"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[afternoon][]" value="SUN"></td>

                </tr>
                <tr>
                    <td>Evening</td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[evening][]" value="MON"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[evening][]" value="TUE"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[evening][]" value="WED"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[evening][]" value="THU"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[evening][]" value="FRI"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[evening][]" value="SAT"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[evening][]" value="SUN"></td>
                </tr>
                <tr>
                    <td>Midnight</td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[midnight][]" value="MON"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[midnight][]" value="TUE"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[midnight][]" value="WED"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[midnight][]" value="THU"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[midnight][]" value="FRI"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[midnight][]" value="SAT"></td>
                    <td><input type="checkbox" disabled="disabled" name="availableTimeslot[midnight][]" value="SUN"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-transparent text-center">
            <p> Application Status: </p>
            <a href="#" class="btn btn-info"><%= ad.adStatus %></a>
        </div>
        <div class="card-footer text-muted text-center">
            <p> Last Updated At: <%= ad.updatedAt %></p>
        </div>
    </div>
</div>

<br>
<br>

<script>
    function tryAgain(e) 
    {
    setTimeout(reloadImg, 1000, e);
    }

    function reloadImg(e)
    {
    var source = e.src;
    e.src = source;
    }
</script>