<div class="container" style="width: 60%; padding-top: 4em;">
    <div class="card">
        <div class="card-header text-white bg-dark">
            <h4 class="card-title">Advertisement Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <a href="/" class="btn btn-danger" style="margin-left: auto;" role="button">Close X</a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- pic -->
                    <img class="col" src="<%= img.url %>" style="display: none" onload="this.style.display='';document.getElementById('loading').style.display='none'" onerror="tryAgain(this)"/>
                    <br>
                    <br>
                    <p id="loading" class="text-center">Loading Image...</p>
                </div>

                <div class="col-md-6">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                            <th scope="row">Ad Title:</th>
                            <td><%= ad.title %></td>
                            </tr>
                            <tr>
                            <th scope="row">Job Type:</th>
                            <td><%= ad.jobType %></td>
                            </tr>
                            <tr>
                                <th scope="row">Description:</th>
                                <td><%= ad.description %></td>
                            </tr>
                            <tr>
                                <th scope="row">Location:</th>
                                <td><%= ad.location %></td>
                            </tr>
                            <tr>
                                <th scope="row">Contact:</th>
                                <td><%= ad.contact %></td>
                            </tr>
                            <tr>
                                <th scope="row">Salary:</th>
                                <td><%= ad.salary %> per Hour / Month</td>
                            </tr>
                            <tr>
                                <th scope="row">Remarks:</th>
                                <td><%= ad.remarks %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent border-success text-center">
            <p> Application Status: </p>
            <a href="#" class="btn btn-info"><%= ad.adStatus %></a>
        </div>
        <div class="card-footer text-muted text-center">
            <p> Last Updated At: <%= ad.updatedAt %></p>
        </div>
    </div>
</div>

<br>
<br>

<script>
    function tryAgain(e) 
    {
    setTimeout(reloadImg, 1000, e);
    }

    function reloadImg(e)
    {
    var source = e.src;
    e.src = source;
    }
</script>